HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.vscode/
*.gz
/vscode
TEST*.xml
Thumbs.db
*.app
*.app
*.exe
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
-.DS_Store
target/
dist/
docker/db-data/
.gradle/**
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
/target/
/.idea/
